<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      GUIMMATSIA Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
 <img src="{{imgURL}}">
  
 

  <ion-fab vertical="bottom" horizontal="start">
        <ion-fab-button (click)="getGallery()">
          <ion-icon name="image-outline"></ion-icon>
        </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="getCamera()" >
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

